aimet-torch
loguru
onnxruntime-gpu==1.24.2
ptflops
pydeps
tach
colorama
pycocotools
pytest-html
openpyxl
rich>=14.2.0

# Datasets
pyquaternion
flowlib
nuscenes-devkit==1.2.0

# OpenMMLab
mmengine
mmcv-lite
mmdet