aimet-torch
loguru
onnxruntime-gpu==1.24.2
ptflops
pydeps
tach
colorama
pycocotools
pytest-html
openpyxl
rich>=14.2.0 # compatible with textual

# Datasets
pyquaternion
flowlib
nuscenes-devkit==1.2.0 # compatible with matplotlib>=3.6.0

mmdet==2.26.0
mmengine==0.10.7
--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch2.1/index.html
mmcv-full==1.7.2
mmcv==1.7.2