ptflops
pydeps
tach
colorama
pycocotools
pytest-html
openpyxl
rich>=14.2.0 # compatible with textual

# Datasets
pyquaternion
flowlib
nuscenes-devkit==1.2.0 # compatible with matplotlib>=3.6.0

# Torch and related libraries
torch==2.1.0+cpu
torch-fidelity==0.3.0
torchaudio==2.1.0+cpu
torcheval==0.0.7
torchmetrics==1.3.1
torchsummary==1.5.1
torchvision==0.16.0+cpu
accelerate<0.32
transformers<4.41
scikit-image==0.21.0
scikit-learn==1.3.2
mmdet==2.26.0
mmengine==0.10.7
--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch2.1/index.html
mmcv-full==1.7.2
mmcv==1.7.2